<div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: flex-start; padding-left: 20px;">
      <h2>Informacion básica</h2>
      <mat-form-field [floatLabel]="'always'" >
        <mat-label>Primer apellido</mat-label>
        <input matInput [value]="primerApellido" [disabled]="true">
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Primer nombre</mat-label>
        <input matInput [value]="primerNombre" [disabled]="true">
      </mat-form-field>
      
      <br>
      <br>
      <button mat-flat-button color="primary" routerLink="/document" >Atras</button>
    </div>
  </div>
  